table, tr, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 10px;
}

tr:hover {
  background-color: rgb(84, 77, 68);
  color: white;
}

tr.purple {
  background-color: rgb(171, 116, 171);
}

tr.cyan {
  background-color: rgb(174, 126, 202);
}
